body {
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.avatar {
    width: 150px;
    border-radius: 5px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #FED766;
    color: #2b2839;
    border-left: 6px solid #009FB7;  
    border-radius: 10px;
    box-shadow: 2px 2px lightblue;    
}

.card:hover {
    background: #2b2839;
    color: #FED766;
}

.info {
    margin: auto 0px;
}
/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

